 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 783px;
}

.u-section-1 .u-text-1 {
  margin: 47px auto 0;
}

.u-section-1 .u-text-2 {
  margin: -40px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 607px;
  margin: 139px -166px -49px 166px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin: 145px -105px -29px 105px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    margin: 136px 118px 0 -118px;
  }
}